{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block title %}{% endblock title %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    {% block css %} {% endblock %}
</head>

<body>

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #eb9269;">
            <a class="navbar-brand" href="{% url 'home' %}">Shipping Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'search_freight_rates' %}">Search Freight Rates</a>
                    </li>
                    {% comment %} {% if not request.user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Track Your Shipments</a>
                    </li>
                    {% endif %} {% endcomment %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'book_shipping_containers' %}">Book Shipping Containers</a>
                    </li>
                </ul>
                {% if request.user.is_authenticated %}
                <ul class="navbar-nav ml-md-auto">
                    <li>
                        <span class="nav-link active" style="font-style: italic;cursor: default;">{{request.user}}</span>
                    </li>
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'my_shipment' %}">My Shipment</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav ml-auto">
                    <a href="{% url 'login' %}" class="btn btn-light">Log in</a>&nbsp
                    <a href="{% url 'sign_up' %}" class="btn btn-light">Sign up</a>
                </ul>
                {% endif %}
            </div>
        </nav>

    <div>
        {% block body %}{% endblock body %}
    </div>   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


    {% block script %}{% endblock script %}
</body>

</html>